@media only screen and (min-width: 700px){
    body {
        max-width: 100%;
        background-image: url(https://raw.githubusercontent.com/justheowl/scholarev-testsite/main/bg-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: auto;
        margin-block: 4.5% auto;
    }
}

@media only screen and (max-width: 700px) {
body {
    max-width: 100%;
    background-image: url(https://raw.githubusercontent.com/justheowl/scholarev-testsite/main/bg-tabandmob.png); 
    background-size: cover;
    background-repeat:no-repeat;
    width: auto;
    height: auto;
    margin-block: 4.5% auto;
}
}

@keyframes anime {
    0%   {color:#03427d;}
    25%  {color:#1f6eb7;}
    50%  {color:#196ab6;}
    75%  {color:#2d76d0;}
    100% {color:#136FDC;}
  }

  @keyframes card {
    from {opacity: 100%;}
    to {opacity: 50%;}
  }

.title-container {
    width: 100%;
    margin:0.5%, 0.5%, 0%, 0.5%;
    opacity: 100%;

}

#content {
    opacity: 100%;
}

div.main-card {
    background-color:#fff;
    width:70%;
    padding:5% 2.5% 5% 2.5%;
    margin: 0 auto;
    border-radius:10px;
    border-style:solid;
    border-color:#2986cc;
    opacity: 90%;
    animation-name: card;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

#main-tab, #gs-tab, #sd-tab, #wiki-tab,
section {
    clear: both;
    display: none;
}


label {
    cursor: pointer;
    font-size: 140%;
    display: block;
    float: left;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #DDD;
    background: transparent;
    font-family:Arial, Helvetica, sans-serif;
    width:20%;
    height:min-content;
    padding:10px;
    background-color: #9d9d9d;
    display: block;
    opacity: 100%;
}

#main-tab:checked~#main-content,
#gs-tab:checked~#gs-content,
#sd-tab:checked~#sd-content,
#wiki-tab:checked~#wiki-content {
    display: block;
}

input:checked+label {
    background-color:#0085ff;
    color:#b4b3b3;
    font-weight: bold;
}

label.tab:hover {
    background-color:#03427d;
    text-decoration:wavy;
}

#note, .note, span.note {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:90%;
    color:grey;
    opacity: 100%;
}

span.note:hover {
    cursor:pointer;
    color:#03427d;
    font-size: 90%;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:90%;
    color:grey;
    opacity: 100%;
    text-align: center;
}

#main-content, #gs-content, #sd-content, #wiki-content p {
   font-family: Arial, Helvetica, sans-serif;
   font-size:110%;
   width:95%;
   color:#272727;
   opacity: 100%;
}

.search-box  input[type="text"] {
    height:20px;
    padding:5px;
    width:95%;
    margin:5px 10px 5px 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color:#9d9d9d;
    opacity: 100%;
}

.search-box:hover {
    color:#272727;
}

/* broken search */
#wiki-content .search-box  input[type="text"] {
    height:20px;
    padding:5px;
    width:95%;
    margin:5px 10px 5px 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color:#9d9d9d;
    opacity: 100%;
    cursor: not-allowed;
}

/* animated title */
h1 {
    font-family:"Ubuntu", sans-serif;
    color:#136FDC;
    font-size: 500%;
    font-weight:bolder;
    text-align:center;
    opacity: 100%;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

hr {
    opacity:0%;
}

.gs {
    width: 150px;
    height: 25%;
    justify-content: right;
    opacity: 100%;
}
